.app{
  justify-content: flex-start;
}

.gallery-user_panel {
  --z: 1px;
  --s: 20.5vw;
  --g: 5vw;
  display: flex;
  gap: var(--g);
  width: calc(2 * var(--s) + var(--g));
  margin-top: auto; /* Dodaj margines na górze */
  margin-bottom: auto; /* Dodaj margines na dole */
}

.gallery-user_panel img {
  width: var(--s);
  height: var(--s);
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s, filter 0.5s;
  
}

.gallery-user_panel img:hover {
  transform: scale(1.2);
  
}


/* Dodaj pełną responsywność */
@media screen and (max-width: 768px) {
  .center-image-user_panel {
    width: 100%;
    max-height: 60vw;
    margin: 10% auto;
  }

  .gallery-user_panel {
    --s: 35vw;
    --g: 5%;
    width: calc(2 * var(--s) + var(--g));
  }

  .app {
    padding: 10px;
  }
}
