.center-image {
    width: 90% auto;
    max-height: 25vw;
    /* Zmniejsza wysokość obrazka */
    display: block;
    margin-top: 3vw;
    border-radius: 8px;
    padding: 2px;
}

.bottom-image {
    width: 10%;
    display: block;
    margin: 2% auto;
    border-radius: 8px;
    padding: 1px;
    margin-top: auto;
  }
  
  .gallery>img {
    width: 0;
    min-width: calc(100% + var(--z) / 2);
    height: var(--s);
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
  }

.link img {
    width: 0;
    min-width: calc(100% + var(--z) / 2);
    height: var(--s);
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
  }
    
  .link:hover img{
    width: calc(var(--s)/2.5);
  }