  .left-buttons-src, .right-buttons-src {
    display: flex;
    flex-direction: line;
    gap: 10px;
    margin-top: 1%;
  }
  
  .left-buttons button:hover, .right-buttons button:hover {
    background-color: #2980b9;
  }
  
  p {
    margin-top: 5%;
  }



  /* Dodaj pełną responsywność */
  @media screen and (max-width: 768px) {
    .left-buttons, .right-buttons {
      display: flex;
      flex-direction: line;
      margin: 5%;
    }
    button {
     padding: 1%;
     gap: 2%;
    }
  }