  
  .left-buttons, .right-buttons {
    display: flex;
    flex-direction: line;
    gap: 10px;
    margin: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .left-buttons button:hover, .right-buttons button:hover {
    background-color: #2980b9;
  }
  
  
  /* Dodaj pełną responsywność */
  @media screen and (max-width: 768px) {
    .left-buttons, .right-buttons {
      display: flex;
      flex-direction: line;
      margin: 5%;
    }
    button {
     padding: 1%;
     gap: 2%;
    }
  }