/* App.module.css */
.app {
    text-align: center;
    padding: 1%;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    max-width: 300px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .pickers, .register {
    margin-top: 1%;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  